{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading" style="text-align: center;">
                    <h3 class=" site-heading my-4 mt-3 text-white">اولین سامانه نیکوکاری جمعی در زمینه آموزش</h3>
                    <p class="text-light">
                        در کنار هم بدون شو آف سعی میکنیم اندازه خودمون ایران رو جای بهتری کنیم 😘
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">پست شده در: {{ post.created_on}}</p>
                    <p class="card-text text-muted h6">
                        وضعیت:
                        {% if post.status == 1 %}
                        تکمیل تامین مالی، تحویل داده شده
                        {% endif %}
                    </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">&rarr; بیشتر</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}