{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">خونه مهربونی چیکار میکنه؟</h5>
        <div class="card-body">
            <p class="card-text" style="text-align: justify;">
                مختصر و مفید بخوایم بگیم، در کنار هم تلاش میکنیم تا دانش آموزان و دانشجویان بی بضاعت فرصت رشد و پیشرفت
                رو فقط به خاطر فقر مالی از دست ندهند.
                تمامی مطالبی که در اینجا پست میشه صحت موضوعش توسط مدیر سایت بررسی میشه و میتونید با خیال راحت در راه
                نیکوکاری قدم بردارید.
                <br />
                ممنون از دل بزرگ و انسانیت شما عزیزان🥰
            </p>
        </div>
    </div>
</div>

{% endblock sidebar %}